<div class="container-fluid">

  <h3 class="add-match-title">Add Match</h3>

  <form #matchForm="ngForm" (ngSubmit)="addMatch(matchForm)" novalidate>    <div class="container">
    <div class="container">

 
    <div class="row align-items-end justify-content-center">
            <!-- Match Type -->
          <div class="form-floating mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <select
              class="form-select"
              id="matchTypeSelect"
              [(ngModel)]="type"
              name="type"
              required
              #typeInput="ngModel"
              [class.is-invalid]="typeInput.invalid && typeInput.touched"
              aria-label="Match Type"
            >
              <option value="" disabled selected hidden>Select Mode</option>
              <option *ngFor="let option of typeOptions" [value]="option">
                {{ option }}
              </option>
            </select>
            <label for="matchTypeSelect" style="padding-left:1.5rem;">Mode</label>
          </div>

            <!-- Winner -->
            <div class="form-floating mb-3 col-xs-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
              <select 
                class="form-select" 
                id="winnerSelect" 
                [(ngModel)]="winner" 
                name="winner" 
                required
                #winnerInput="ngModel"
                [class.is-invalid]="winnerInput.invalid && winnerInput.touched"
              >
                <option *ngFor="let option of winnerOptions" [value]="option">{{ option }}</option>
              </select>
              <label for="winnerSelect" style="padding-left:1.5rem;">Winner</label>
            </div>

            <!-- Match Length -->
            <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3">
              <div class="row align-items-center justify-content-center">Time</div>
              <div class="row align-items-center justify-content-center">

                <!-- Minutes -->
                <div class="col-5">
                  <div class="form-floating">
                    <input 
                      type="number" 
                      class="form-control" 
                      id="minutesInput" 
                      [(ngModel)]="minutes" 
                      name="minutes" 
                      min="0" max="250" 
                      placeholder="MM"
                      required
                      #minutesInputRef="ngModel"
                      [class.is-invalid]="minutesInputRef.invalid && (minutesInputRef.touched || matchForm.submitted)"
                    >
                    <label for="minutesInput">MM</label>
                  </div>
                </div>

                <!-- Colon -->
                <div class="col-1 align-items-center">
                  <span class="fs-4">:</span>
                </div>

                <!-- Seconds -->
                <div class="col-5">
                  <div class="form-floating">
                    <input 
                      type="number" 
                      class="form-control" 
                      id="secondsInput" 
                      [(ngModel)]="seconds" 
                      name="seconds" 
                      min="0" max="59" 
                      placeholder="SS"
                      required
                      #secondsInputRef="ngModel"
                      [class.is-invalid]="secondsInputRef.invalid && secondsInputRef.touched"
                    >
                    <label for="secondsInput">SS</label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Match Score -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 ">
              <div class="row align-items-center justify-content-center">Score</div>
            <div class="row align-items-center justify-content-center">
              <!-- Radiant -->
              <div class="col-5">
                <div class="form-floating">
                  <input 
                    type="number" 
                    class="form-control" 
                    [(ngModel)]="radiantKills" 
                    name="radiantKills" 
                    min="0" max="200" 
                    placeholder="Radiant"
                    required
                    #radiantInput="ngModel"
                    [class.is-invalid]="radiantInput.invalid && radiantInput.touched"
                  >
                  <label>Radiant</label>
                </div>
              </div>

              <div class="col-auto align-items-center">
                <span class="fs-4">-</span>
              </div>

              <!-- Dire -->
              <div class="col-5">
                <div class="form-floating">
                  <input 
                    type="number" 
                    class="form-control" 
                    [(ngModel)]="direKills" 
                    name="direKills" 
                    min="0" max="200" 
                    placeholder="Dire"
                    required
                    #direInput="ngModel"
                    [class.is-invalid]="direInput.invalid && direInput.touched"
                  >
                  <label>Dire</label>
                </div>
              </div>
            </div>
            </div>
               </div>  


            <!-- Radiant Players -->
            <div class="row justify-content-center">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3">
              <h5 class="mb-2">Radiant Players</h5>
              <div class="border rounded p-2" style="max-height: 250px; overflow-y: auto;">
                <ul class="list-group" *ngFor="let player of players">
                  <label class="list-group-item" [for]="'radiant-' + player.id" [class.text-muted]="direPlayerIds.includes(player.id)">
                    <input
                      class="form-check-input me-1"
                      type="checkbox"
                      [id]="'radiant-' + player.id"
                      [value]="player.id"
                      (change)="onRadiantChange($event, player.id)"
                      [checked]="radiantPlayerIds.includes(player.id)"
                      [disabled]="(!radiantPlayerIds.includes(player.id) && radiantPlayerIds.length >= 5) || direPlayerIds.includes(player.id)"
                    >
                    {{ player.name }}
                  </label>
                </ul>
              </div>
            </div>

            <!-- Dire Players -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3">
              <h5 class="mb-2">Dire Players</h5>
              <div class="border rounded p-2" style="max-height: 250px; overflow-y: auto;">
                <ul class="list-group" *ngFor="let player of players">
                  <label class="list-group-item" [for]="'dire-' + player.id" [class.text-muted]="radiantPlayerIds.includes(player.id)">
                  <input
                    class="form-check-input me-1"
                    type="checkbox"
                    [id]="'dire-' + player.id"
                    [value]="player.id"
                    (change)="onDireChange($event, player.id)"
                    [checked]="direPlayerIds.includes(player.id)"
                    [disabled]="(!direPlayerIds.includes(player.id) && direPlayerIds.length >= 5) || radiantPlayerIds.includes(player.id)"
                  >
                    {{ player.name }}
                  </label>
                </ul>
              </div>
            </div>
            </div>


            <!-- Add Match Button -->
            <div class="col-12 text-center mt-3">
              <button 
                type="submit" 
                class="btn btn-primary px-4"
                [class.btn-clicked]="clicked"
                (mousedown)="clicked=true" 
                (mouseup)="clicked=false"
                (mouseleave)="clicked=false"
              >
                Add Match
              </button>
            </div>
      </div>
    </div>
  </form>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
       [class.show]="showToast" [class.hide]="!showToast">
    <div class="d-flex">
      <div class="toast-body">
        Match added successfully!
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showToast=false"></button>
    </div>
  </div>
</div>
