<div class="home-container text-center flex-column justify-content-center">

  <div class="hero welcome-frosted">
    <img src="assets/images/dota_logo.png" alt="Dotabowl Logo" class="hero-logo mb-3" style="--divider-logo-shadow: rgba(255, 0, 0, 0.6)">
    <h1 class="display-4 dota-font text-light mb-2">
      Welcome to <span class="d-none d-sm-inline">Dotabowl</span>
      <span class="d-inline d-sm-none"><br>Dotabowl</span>
    </h1>
    <p class="lead text-light-50 mb-4">
      Drain or be drained.
    </p>

    <div class="hero-buttons">
      <button mat-raised-button color="accent" routerLink="/players" class="me-3 hero-btn">
        View Players
      </button>
      <button mat-raised-button color="primary" routerLink="/matches" class="hero-btn">
        Add Match
      </button>
    </div>
  </div>

<div class="divider" style="--divider-color: #8c0000; --divider-image: url('assets/images/dota_logo.png')">
  <span class="line"></span>
  <span class="logo">
    <img src="assets/images/dota_logo.png" alt="Dotabowl Logo" class="hero-logo" style="--divider-logo-shadow: rgba(255, 0, 0, 0.6)">
  </span>
  <span class="line"></span>
</div>


<div class="container recent-section">
<div class="mb-2" style="display: flex; align-items:center;">
  <h2 class="section-title">
    To Be Decided...  
    <span class="section-subtitle">(Updated automatically during dotabowl)</span>
  </h2>
</div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4 col-sm-1" *ngFor="let card of cards">
      <mat-card class="highlight-card p-3">
        <!-- Card header / title -->
        <div class="card-header mb-3">
          <div class="card-header-text text-center">
            <h5 class="title-text">{{ card.title }}</h5>
          </div>
        </div>

        <!-- Avatar + Profile side by side -->
        <div class="row align-items-center mb-2">
          <div class="col d-flex justify-content-center align-items-center">
            <div class="avatar-wrapper me-3">
              <img [src]="card.image" alt="avatar" class="avatar-img">
            </div>
            <div class="profile-wrapper text-center">
              <img [src]="card.profilePic" alt="profile" class="profile-img mb-1">
              <h5 class="steam-name mb-0">{{ card.subtitle }}</h5>
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="row">
          <div class="col">
            <mat-card-content>
              <p class="description-text mt-2">{{ card.description }}</p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="divider" style="--divider-color: #ffb938; --divider-image: url('assets/images/aegis.png')">
  <span class="line"></span>
  <span class="logo">
    <img src="assets/images/aegis.png" alt="Dotabowl Logo" class="hero-logo"  style="--divider-logo-shadow: rgba(249, 214, 42, 0.6)">
  </span>
  <span class="line"></span>
</div>

<div class="container recent-section event-stats">
  <div class="stats-row">
    <mat-card class="highlight-card  mb-4">
      <div class="card-header">
        <div *ngIf="totalMatchesPlayed$ | async as totalMatches">
          <h2 class="event-title-text">
            {{ totalMatches }}
          </h2>
        </div>
        <h5 class="event-stats-font">Matches Played</h5>
      </div>
    </mat-card>

    <mat-card class="highlight-card  mb-4">
      <div class="card-header">
        <div *ngIf="totalGameTimeHours$ | async as totalTime">
          <h2 class="event-title-text" >
            {{ totalTime }}
          </h2>
        </div>
        <h5 class="event-stats-font">Man Hours</h5>
      </div>
    </mat-card>

    <mat-card class="highlight-card highlight-special mb-4">
      <div class="card-header">
        <div>
          <h1 class="event-title-text" >1</h1>
        </div>
        <h5 class="event-stats-font dota-font">Dotabowl</h5>
      </div>
    </mat-card>
  </div>
</div>

<div class="divider" style="--divider-color: #8c0000; --divider-image: url('assets/images/rosh.png')">
  <span class="line"></span>
  <span class="logo">
    <img src="assets/images/rosh.png" alt="Dotabowl Logo" class="hero-logo"  style="--divider-logo-shadow: rgba(255, 0, 0, 0.6)">
  </span>
  <span class="line"></span>
</div>

<div style="height: 45px;"></div>

