

.background {
  min-height: 100vh;
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(-45deg, #1e3c72, #2a5298, #1e3c72, #4e7edb);
  background-size: 400% 400%;
}

.about-container {
    font-family: 'Nunito', sans-serif; 
    background: linear-gradient(180deg, #ffe0ca 0%, #fffaf6 100%);
    color: #f5f1eb; 
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 700px;
    margin: 0 auto;
    border: 10px double #bd6902;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    position: relative;
}

.about-container h1 {
      font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #f87706;
    margin-bottom: 2rem;
}

.about-container h3 {
      font-family: 'Rubik', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color:  #f87706;
    border-bottom: 2px solid #bd6902;
    padding-bottom: 0.25rem;
}

.about-container p {
    font-size: 1.125rem;
    line-height: 1.8;
    color:  #f87706;
}

.about-container .lead {
    font-size: 1.25rem;
    font-weight: 400;
    color:  #f87706;
}

.about-container section {
    margin-bottom: 3rem;
}

.divider {
  --divider-color: #8c4600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 40px auto;
}

.divider .line {
  flex: 1;
  height: 4px;
  background: linear-gradient(90deg, var(--divider-color), transparent);
}

.divider .line:first-child {
  background: linear-gradient(90deg, transparent, var(--divider-color));
}

.divider .logo {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.divider .logo img {
  height: 200px;
  width: auto;
  content: var(--divider-image);
}

.git{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 113px;
}

.gittext{
  position: absolute;
  bottom: 0;
  padding-left: 2px;
  color: #f87706;
  text-decoration: underline;
}

.gitlogo{
  height:25px;
  width:25px;
}