/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Hide number input spinners */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'Goudy-Medium';
  src: url('assets/fonts/OPTIwtcGoudy-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dota-font {
  font-family: 'Goudy-Medium', sans-serif;
}

/* Dark table cells with grid lines */
.mat-table .mat-header-row {
  background-color: #1c1e24;
  color: #fff;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.mat-table .mat-row {
  background-color: #24252b; /* default odd */
}

.mat-table .mat-row:nth-child(even) {
  background-color: #2c2f38; /* even rows */
}

.mat-table .mat-cell,
.mat-table .mat-header-cell {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  padding: 6px 8px;
}

.mat-table .mat-cell:last-child,
.mat-table .mat-header-cell:last-child {
  border-right: none;
}

.frosted {
  background-color: rgba(90, 3, 3, 0.3);  /* slightly transparent for depth */
  border: 1px solid rgba(255, 255, 255, 0.1); /* softer border */
  border-radius: 12px;      /* a bit more rounding */
  padding: 20px 25px;       /* uniform padding for a balanced look */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* subtle depth */
  backdrop-filter: blur(8px); /* soft blur for background behind container */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark background for track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* dark thumb */
  border-radius: 6px;
  border: 3px solid #1e1e1e; /* gives padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Firefox */
* {
  scrollbar-width:auto;
  scrollbar-color: #555 #1e1e1e; /* thumb color, track color */
}