/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Hide number input spinners */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'Goudy-Medium';
  src: url('assets/fonts/OPTIwtcGoudy-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dota-font {
  font-family: 'Goudy-Medium', sans-serif;
}