<app-add-match></app-add-match>

<h2 class="match-history-title">Match History</h2>



<div class="container-fluid">
  
  <div class="frosted">
  <div class="container table-responsive">
  <table class="table align-middle" id="matchHistory">
    <thead>
      <tr class = "">
        <th scope="col-md-auto">Date</th>
        <th scope="col">Mode</th>
        <th scope="col">Radiant</th>
        <th scope="col">Score</th>
        <th scope="col">Dire</th>
        <th scope="col">Winner</th>
        <th scope="col">Game Length</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let match of matches">
        <td class="text-start">{{ match.date | date:'MMM d, y, h:mm a' }}</td>
        <td class="text-center" [ngClass]="getTypeColor(match.type)">{{ match.type }}</td>      
        <td>{{ getRadiantNames(match) }}</td>
        <td class="text-center">{{ match.radiantKills }} - {{ match.direKills }}</td>
        <td>{{ getDireNames(match) }}</td>
        <td class="text-center" [ngClass]="getWinnerColor(match.winner)">{{ match.winner }}</td>
        <td class="text-center">{{ match.length }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="matches?.length === 0">
    No matches yet.
  </div>
</div>
</div>
</div>




