.list-group-item {
  padding-top: 1rem;   /* half of default $spacer (0.5rem) */
  padding-bottom: 1rem;
}

.match-history-title{
  margin: 0.5rem;
}

.match-type-white   { background-color: #FFFFFF; }
.match-type-pink    { background-color: #FFB3BA; }
.match-type-orange  { background-color: #FFDFBA; }
.match-type-yellow  { background-color: #FFFFBA; }
.match-type-green   { background-color: #BAFFC9; }
.match-type-teal    { background-color: #BAE1FF; }
.match-type-purple  { background-color: #E0BAFF; }
.match-type-peach   { background-color: #FFD8BA; }
.winner-radiant { color:green}
.winner-dire { color:red}

.match-type-rainbow {
  font-weight: bold;
  
  background: linear-gradient(
    90deg,
    #ff8a8a,
    #ffd68a,
    #8aff8a,
    #8affff,
    #8a8aff,
    #ff8aff,
    #ff8a8a
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  animation: rainbowShift 6s linear infinite;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
