.list-group-item {
  padding-top: 1rem;   /* half of default $spacer (0.5rem) */
  padding-bottom: 1rem;
}

.match-history-title{
  margin: 0.5rem;
}

.match-type-white   { background-color: #FFFFFF; }
.match-type-pink    { background-color: #FFB3BA; }
.match-type-orange  { background-color: #d1995a; }
.match-type-yellow  { background-color: #c5c56c; }
.match-type-green   { background-color: #7eb58a; }
.match-type-teal    { background-color: #82abca; }
.match-type-purple  { background-color: #ad87cd; }
.match-type-peach   { background-color: #efb990; }
.winner-radiant { color:rgb(111, 214, 111)}
.winner-dire { color:rgb(255, 112, 112)}

.match-type-rainbow {
  font-weight: bold;
  
  
  background: linear-gradient(
    90deg,
    #ff8a8a,
    #ffd68a,
    #8aff8a,
    #8affff,
    #8a8aff,
    #ff8aff,
    #ff8a8a
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  animation: rainbowShift 6s linear infinite;
}

@keyframes rainbowShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

td{
  color:white;
  border-bottom: 2px solid #495057;
}

th {
    background-color: #212529;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    border-bottom: 2px solid #555;
    vertical-align: middle;
}

td:not([class*="match-type"]) {
  background-color: #2c3033;
}

#matchHistory tbody tr:nth-child(even) td:not([class*="match-type"]) {
  background-color: #212529;
}

#matchHistory tbody tr:hover td:not([class*="match-type"]) {
  background-color: #595959;
}

#matchHistory {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}



