<app-add-match></app-add-match>

<h2 class="match-history-title">Match History</h2>

<div *ngIf="matches?.length === 0">
  No matches yet.
</div>

<div class="table-responsive container-fluid">
  <table class="table table-striped" id="matchHistory">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Mode</th>
        <th scope="col">Radiant</th>
        <th scope="col">Score</th>
        <th scope="col">Dire</th>
        <th scope="col">Winner</th>
        <th scope="col">Game Length</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{ match.date | date:'MMM d, y, h:mm a' }}</td>
        <td [ngClass]="getTypeColor(match.type)">{{ match.type }}</td>      
        <td>{{ getRadiantNames(match) }}</td>
        <td>{{ match.radiantKills }} - {{ match.direKills }}</td>
        <td>{{ getDireNames(match) }}</td>
        <td  [ngClass]="getWinnerColor(match.winner)">{{ match.winner }}</td>
        <td>{{ match.length }}</td>
      </tr>
    </tbody>
  </table>
</div>


