<div class="player-page">
    <div class="container">

    <div class="frosted"> 
  <div class="container table-responsive">
    <table class="table text-center align-middle table">
      <thead>
        <tr>
            <th *ngFor="let col of columns"
                [class.sortable-header]="col.sortable"
                [class.sticky-col]="col.key === 'profilePictureUrl' || col.key === 'name'"
                (click)="col.sortable && sortData(col.key)">
                <span class="header-content">
                {{ col.label }}
                <i *ngIf="sortColumn === col.key"
                    class="bi"
                    [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'">
                </i>
                </span>
            </th>
        </tr>

      </thead>
        <tbody>
        <tr *ngFor="let player of dataSource.data">
            <td
                *ngFor="let column of columns"
                [ngClass]="{'winrate-cell': column.key === 'winRate',
                    'sticky-col': column.key === 'profilePictureUrl' || column.key === 'name'
                    }"
                [style.background-color]="column.key === 'winRate' ? getWinRateColor(player.winRate) : null"
                class="data-cell"            >
            <ng-container [ngSwitch]="column.key">

                <ng-container *ngSwitchCase="'profilePictureUrl'">
                <img
                    [src]="player.profilePictureUrl"
                    [alt]="player.name"
                    class="player-img rounded-circle"
                >
                </ng-container>

                <ng-container *ngSwitchCase="'winRate'">
                {{ player.winRate | number:'1.0-2' }}%
                </ng-container>

                <ng-container *ngSwitchCase="'totalGameTime'">
                {{ player.totalGameTime | minutesToTime }}
                </ng-container>

                <ng-container *ngSwitchDefault>
                {{ player[column.key] }}
                </ng-container>

            </ng-container>
            </td>
        </tr>
        </tbody>


    </table>
  </div>
      </div>

</div>
<div style="height: 45px;"></div>

</div>
