.player-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.player-page {

  min-height: 100vh;
  background: repeating-linear-gradient(
    135deg,
    #250000,
    #250000 80px,
    #350000 80px,
    #350000 160px
  );
  background-size: 200% 200%;
  animation: stripeFlow 135s linear infinite;
  color: #fff;
  padding-top: 20px;
}

@keyframes stripeFlow {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.sortable-header {
  cursor: pointer;
}

.header-content {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* space between text and arrow */
}

.data-cell {
  color: white;
  font-weight: bold;
}

.player-page .table {
  width: 220%;            /* required for fixed layout */
}

td{
  color:white;
  border: 1px solid #495057;
}

td:not([class*="winrate-cell"]) {
  background-color: #2c3033;
}

tbody tr:nth-child(even) td:not([class*="winrate-cell"]) {
  background-color: #212529;
}

tbody tr:hover td:not([class*="winrate-cell"]) {
  background-color: #595959;
}

th {
    background-color: #212529;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    border: 2px solid #555;
}

th.sortable-header:hover {
    background-color: #555;
}

/* base sticky style */
.sticky-col {
    position: sticky;
    left: 0;
    z-index: 3; /* make sure it sits above other cells */
}

/* for the second sticky column (name), shift it right */
th.sticky-col:nth-child(2),
td.sticky-col:nth-child(2) {
    left: 65px; /* width of first column */
    box-shadow: 2px 0 5px -2px rgba(0,0,0,0.5);
    border-right: 1px solid #555;

}

th.sticky-col:first-child,
td.sticky-col:first-child {
    position: sticky;
    left: 0;
    z-index: 4; /* higher than the second sticky column */
    border-right: 1px solid #555;
}

.table-responsive {
    overflow-x: auto;
    padding: 0; /* ensures sticky aligns with container edge */
}

